@import "tailwindcss";
.imagebck{
    background-image: url("./images/vecteezy_white-background-with-orange-geometric_11171111-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbg{
    background-color: rgb(100, 100, 100, 0.9);
}
.logo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-weight: 900;
    text-shadow: black;
    font-style:italic;
}
.image1{
    height: 25rem;
    width:  25rem;
    border-radius: 50%;
    border: solid black 2px;
}
.heading{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    font-weight: 900;
    text-shadow: black;
    font-style:italic;
}
.paragraph{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}
.paragraph-bio{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    a{
        color:blue;
        text-decoration: underline;
    }
}
.bg-volunteer{
    background-image: url("https://imageio.forbes.com/specials-images/imageserve/65ad49201b8a4682439df59f/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds");
    background-repeat: no-repeat;
    background-size: cover;
}
